$fontLato: 'Lato', sans-serif;
$fontAretha: 'Aretha', sans-serif;
$mainGradient: linear-gradient(213.56deg, #FF00AA -24.02%, #8912DE 88.53%);
$blueGrey: #54618E;
$mainColor: #CF51CE;
$darkColor: #331A2F;
$white: #FFFFFF;